[Unit]
Description=FAAS register Reverse Tunnel with Auto Certificate Renewal (%i)
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=%i
Environment=INSTANCE=%i
ExecStart=/usr/local/sbin/faas_register_tunnel.sh

Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
